@import "tailwindcss";

/* Simple gray grid background */
html, body {
	height: 100%;
}

body {
    background-color: #fefefc;
    background-image:
        linear-gradient(#f1edd7 1px, transparent 1px),
        linear-gradient(90deg, #f1edd7 1px, transparent 1px);
    background-size: 36px 36px;
    background-position: 0 0;
    background-attachment: scroll;
}
