---
import RegisterDropdown from './RegisterDropdown.astro';
---

<div class="flex flex-col items-start w-full max-w-6xl mx-auto px-5">
  <div class="flex flex-row justify-between items-center w-full">
    <img src="/logo.png" width="80px" />
    <RegisterDropdown />
  </div>

  <div class="relative bg-amber-200 px-6 items-start mt-6">
    <p class="text-3xl md:text-5xl font-semibold font-mono text-[#222222]">WATERLOO IV 2026</p>
    <img
      src="/flying-goose.svg"
      alt=""
      aria-hidden="true"
      class="absolute hidden md:block w-20 -right-10 -top-12 -rotate-[10deg] opacity-85 pointer-events-none"
    />
  </div>
  <div class="text-xl flex flex-row justify-between w-full mt-3 mb-4">
    <p>TOURNAMENT PACKAGE</p>
    <p class="text-right">MAY 23 - 24 @ UWATERLOO</p>
  </div>

  <div class="relative">
    <img src="/pics.png" class="" />
    <div class="hidden md:block">
      <img src="/border_leaves.png" width="170px" class="absolute -top-3 -left-3" />
      <img src="/border.png" width="170px" class="absolute -top-3 -right-3 rotate-90" />
      <img src="/border_leaves.png" width="170px" class="absolute -bottom-3 -right-3 rotate-180" />
      <img src="/border.png" width="170px" class="absolute -bottom-3 -left-3 rotate-270" />
    </div>
  </div>
</div>
