<div class="flex flex-col items-center pt-24 mt-24 bg-[#222222] text-white h-100 relative overflow-hidden">
  <img src="/campfire.png" class="absolute w-125 top-0 left-12 lg:left-24" />
  <p>Made with ❤️ by Acon, Jon, and Elaine</p>
</div>
